<h4>Interrupt</h4>
<p>
Take a short break.<br>
What is the count?<br>
Do not restart the count from 0.<br>
Keep pushing on the door. Keep up the count until we reach 9.<br>

Done?</p>
<p>If yes:
<%#= link_to 'Next Step', decisions_path %>
<%= link_to 'Yes', yes_new_decision_path %>
</p>
<p>If no: 
<%= link_to 'No', no_new_decision_path %>
</p>
