<h4>Interrupt</h4>
<p>What is the count?<br>
Take a short break.<br>
Then, push on the door, keep up the count until count = 9.<br>
Done?</p>
<p>If yes:
<%= link_to 'Next Step', decisions_path %>
</p>
<p>If no: There is another interrupt. Repeat this page.</p>
