<p>The answer is 'yes' which means the door MAY be fully locked.<br>
Let's try to fully lock the door again and verify it.<br>
How many times did you push on the door?<br>
If the door was pushed n times,<br>
now push (9-n) more times to finish the cycle.<br>
There should be less give from the door.<br><br>
That's it. The door is fully locked.<br>
Walk away. Go home.</p>
