<h4>Interrupt</h4>
<p>Take a short break and breathe.<br>
The door MAY be fully locked.<br>
Let's try to verify again.<br>
How many times did you push on the door?<br>
What is the count? <br>
Add up while pushing until count = 9.<br>
There should be LESS GIVE from the door.<br>
Done?<br>
<p>If no: There is another interrupt. Repeat this page.</p>
<p>If yes:
That's it. The door is fully locked.<br>
Walk away. Go home.</p>
